!.*
.tugboat
.DS_Store
*.beam
oh-my-zsh/
vim/.netrwhist
vim/spell/*.spl
vim/undodir
private

# Ignore everything in vim/bundle except Vundle
vim/bundle/

# Ignore bundle cache
bundle/cache

# Ignore weechat logs and history
weechat/logs

# Ignore weechat config not checked into version control
weechat/*.conf
!weechat/weechat.conf

# Ignore custom files
mixins/*.custom
scripts/custom_tools/
scripts/custom_functions/
scripts/upon_login_custom.sh
