!.*
.DS_Store
*.beam
vim/.netrwhist
vim/spell/*.spl
vim/undodir
private

# Ignore everything in vim/bundle except Vundle
vim/bundle/

# Ignore custom files
mixins/*.custom
scripts/custom_tools/
scripts/custom_functions/
scripts/upon_login_custom.sh

# Ignore all files in git/configs except example file
git/configs/
!git/configs/companyname.example
