!.*
.tugboat
.DS_Store
*.beam
oh-my-zsh/
vim/.netrwhist
vim/spell
vim/undodir
private

# Ignore everything in vim/bundle except Vundle
vim/bundle/

# Ignore custom files
mixins/*.custom
scripts/custom_tools/
scripts/custom_functions/
scripts/upon_login_custom.sh
