[mysql]
# Set the pager
pager=less -inSFX

# Sets a custom prompt. Example: `user@localhost (my_database) > `
prompt = "\\U (\\d) >\\ "

# By most databases I work on are UTF8 so I default to UTF8 in the console
default-character-set = utf8mb4
