snippet template "Nice defaults to start with for Graphviz graphs"
digraph {
  splines=ortho
  fontname=Helvetica
  nodesep=0.25
  ranksep=0.25
  node [fontname=Helvetica, shape="rectangle"]
  edge [fontname=Helvetica, fontsize=9]

  # add graph code here
}
endsnippet
