snippet shebang "The Bash shebang line I typically use"
#!/usr/bin/env bash
endsnippet

snippet strict "My own Bash strict mode variation"
# Unoffical Bash "strict mode"
# http://redsymbol.net/articles/unofficial-bash-strict-mode/
set -euo pipefail
#ORIGINAL_IFS=$IFS
IFS=$'\t\n' # Stricter IFS settings
endsnippet
