# This file is for customizing the aliases used in Bash and Zsh shells. To use
# this file remove the .example suffix. The contents of the file will be loaded
# into the .bashrc and .zshrc.

# Aliases I usually use on OSX
#alias chrome="'/Applications/Google Chrome.app/Contents/MacOS/Google Chrome'"
#alias chrome_jail="'/Applications/Google Chrome.app/Contents/MacOS/Google Chrome' --user-data-dir=$(mktemp -d -t chrome_jail)"
#alias chrome_incognito="'/Applications/Google Chrome.app/Contents/MacOS/Google Chrome' --incognito"
