# This file is for customizing the aliases used in Bash and Zsh shells. To use
# this file remove the .example suffix. The contents of the file will be loaded
# into the .bashrc and .zshrc.

# Aliases I usually use
#alias chrome="chromium-browser"
#alias chrome_jail="chromium-browser --user-data-dir=$(mktemp -d -t chrome_jail)"
#alias chrome_incognito="chromium-browser --incognito"
#alias clean-erlang="rm -rf deps; rm -rf logs; rm db.config"
#alias psql-remote="psql -p 5431"
#alias remsh_with_eflame="remsh_with_custom <server> eflame eflame2 eflame_app eflame_sup"
