# This file is for customizing the .irssi/config. To use this file remove
# the .example suffix. The contents of the file will be concatenated with the
# .irssi/config. Set all custom irssi config values here.
settings = {
  core = {
    real_name = "";
    user_name = "";
    nick = "";
  };
  hilights = (
    { text = ""; color = "%M"; nick = "yes"; word = "yes"; }
  );
};
