# This file is for customizing the Bash and Zsh shells. To use this file remove
# the .example suffix. The contents of the file will be loaded into the .bashrc
# and .zshrc.

# These are variables that you will most likely need to set
export HASTEBIN_URL="https://hastebin.com"
export BASE_TICKET_URL="https://atlassian.net/browse/"
