" This file is for customizing vim. To use this file remove the .example
" suffix. The contents of the file will be loaded into the .vimrc. Set all
" ustom config values here.
"
" let g:erl_author=""
" let g:erl_company=""
