#!/usr/bin/env bash

# This is an example of a upon_login_custom.sh script

# Things that should be run at login like:
#
# * Mount remote file systems that are available
# * Start any services that aren't started automatically
#
# For example mounting sshfs file systems on OSX:
#
#ensure_mounted() {
#    mount_point=$1
#    server_and_dir=$2
#    drive_name=$(basename $mount_point)
#
#    # Unmount first to be safe
#    umount $mount_point
#
#    # Ensure the directory exists
#    mkdir -p $mount_point
#
#    # Mount
#    sshfs $server_and_dir $mount_point -ovolname=$drive_name
#}
#
#ensure_mounted $HOME/servers/myserver myserver:my/directory
