#!/usr/bin/env bash

# This is an example of a upon_login_custom.sh script

# Things that should be run at login like:
#
# * Mount remote file systems that are available
# * Start any services that aren't started automatically
